.anchor-pane{
    -fx-background-color: #FFFFFF;
}

.button{
    -fx-background-color: #C2C0C0;
}

.button:hover{
    -fx-cursor:hand;
}

.pane{
    -fx-background-color: #FFFFFF;
}

.title_anchorpane{
    -fx-background-color:  #CC0000;
}

.combo-box{
    -fx-background-color: #C2C0C0;
}

.date-picker{
    -fx-background-color: #C2C0C0;
}